body{
	background-color:#023020;
}

canvas {
    display: block;
    margin: auto;
    border: 5px solid red;
	background-color:white;
}

#playbutton {
    width: 100px;
    height: 50px;
    display: block;
	position:absolute;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

#title{
    display: block;
	position:absolute;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
	color:#fff;
}